build/
Debug/
Release/
x64/
x86/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
ipch/
*.pidb
*.opendb
.vscode/
.vs/
out/
.idea/
*.ncb
*.sdf
*.unsuccessfulbuild
*.opensdf
*.VC.VC.opendb
*.tlog/
*.log
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
cmake_install.cmake
CTestTestfile.cmake
Makefile
CMakeLists.txt.user
*.obj
*.dll
*.exe
*.lib
*.pdb
*.exp
*.idb
*.ipdb
*.iobj
*.pch
*.rsp
*.log
*.DS_Store
*.class
*.mode1v3
*.mode2v3
*.mode1v3.2
*.swp
*.db
*.opendb.lock
